.menu {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: white !important;
}

.menu-destaque {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: white;
    font-weight: 500;
}

.imagem-login {
    background: url('/src/public/images/colorido.png');
    padding: 0;
    height: 100px !important;
    width: auto !important;
    box-sizing: border-box;
    background-size: cover;
}

.coletai-header {
    position: relative;
    height: 200px;
    width: auto;
    background: url('/images/header-img.png') center 30% no-repeat;
    background-size: cover;
}

.coletai-header-text-title {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
    margin: 0 16px;
    color: aliceblue;
    text-align: left;
    font-weight: bold;
    padding-top: 60px;
}

.coletai-header-text {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 100;
    font-size: 18px;
    margin-left: 16px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    color: aliceblue;
    text-align: left;
}

.logo-link {
    display: inline-block;
}

.logo-imagem {
    width: 170px;
}

.mdl-layout {
    background-color: aliceblue;
}

.add-comentario {
    width: 100%;
}

.font-color {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    color: dimgray;
}

.font-color-destaque {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    color: #FF5722
}

.font-titulo-secao {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    color: dimgray;
    font-size: medium;
}

.font-nome-ponto {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    color: #009688;
    font-weight: bold;
    font-size: large;
    margin-right: 20px;
}

.coletai-cards {
    padding: 80px;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.coletai-card-container .mdl-card__media {
    overflow: hidden;
    background: transparent;
}

.card-link {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    color: dimgray;
}

.mdl-card__supporting-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}


.div-link {
    padding-bottom: 30px;
    padding-left: 10px;
}

.coletai-botao-central {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.coletai-botao-grande {
    width: 300px;
    height: 50px;
    min-width: initial;
    color: white !important;
}

.coletai-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
}

.coletai-botao-comentario {
    color: white !important;
}

.coletai-botao-login {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
}

.coletai-botao-excluir {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f44235 !important;
    color: white !important;
}

.espacamento {
    margin-right: 200px;
}

.link {
    text-decoration: none;
}

.imagem-detalhes {
    width: 600px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.imagem {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: 0;
    padding: 0;
}

.imagem-login {
    background: white;
    width: 290px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-desabilitado {
    color: rgb(158, 158, 158);
}

.classificado {
    color: #FDD835;
}

.favoritado {
    color: #f44235;
}

.icon-classificacao {
    font-size: 30px;
}

.bt-localizacao {
    font-size: 30px;
}

.icon-localizacao {
    width: 30px;
    height: 30px;
}

.bt-share {
    color: white !important;
}

.mdl-radio__label {
    margin-right: 40px;
}

.titulo-ponto {
    display: flex;
    align-items: center;
}

.campo-cadastro-grande {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    color: dimgray;
}

.campo-cadastro {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    color: dimgray;
}

.campo-cadastro-titulo {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    padding: 10px;
    border-radius: 5px;
    color: dimgray;
    justify-content: right;
    text-align: right;
}

.snackbar-erro {
    background-color: #f44235;
    color: white;
}

.snackbar-sucesso {
    background-color: rgb(0, 150, 136);
    color: white;
}

.mdl-dialog__title {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: medium;
}

.text-disabled {
    color: dimgray !important;
}

.title-disabled {
    color: #009688 !important;
}

.mdl-mini-footer {
    height: 15px;
}

.mdl-card__media img {
    width: 400px;
}

.titulo-comentario {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: medium;
    color: dimgray;
    margin-left: 10px;
    font-weight: bold;
}

.data-comentario {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: small;
    color: dimgray;
    margin-left: 10px;
}

.texto-comentario {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 15px;
    color: dimgray
}

.acao-comentario {
    color: #009688;
}

.comentarios {
    background-color: white;
}

.comentarios-sub {
    padding-top: 5px;
    padding-bottom: 2px;
}

.comentarios-action {
    text-align: right;
}

.card-comentario {
    width: 80%;
    min-height: 100px !important;
}

.div-comentarios {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mdl-card__actions {
    display: flex;
    justify-content: flex-end;
}

.mdl-list {
    margin-left: 120px;
    margin-right: 200px;
}

.sobre-coletai {
    background-color: white;
    color: dimgray;
    border-radius: 2px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
}